<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lllllw.hotel.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.lllllw.hotel.model.Order">
    <id column="o_id" jdbcType="INTEGER" property="oId" />
    <result column="o_uid" jdbcType="INTEGER" property="oUid" />
    <result column="o_rid" jdbcType="INTEGER" property="oRid" />
    <result column="o_checkinTime" jdbcType="DATE" property="oCheckintime" />
    <result column="o_checkoutTime" jdbcType="DATE" property="oCheckouttime" />
    <result column="o_deposit" jdbcType="DOUBLE" property="oDeposit" />
    <result column="o_price" jdbcType="DOUBLE" property="oPrice" />
    <result column="o_status" jdbcType="BIT" property="oStatus" />
    <result column="o_created" jdbcType="TIMESTAMP" property="oCreated" />
    <result column="o_updated" jdbcType="TIMESTAMP" property="oUpdated" />
    <result column="o_intField1" jdbcType="VARCHAR" property="oIntfield1" />
    <result column="o_intField2" jdbcType="VARCHAR" property="oIntfield2" />
    <result column="o_stringField1" jdbcType="VARCHAR" property="oStringfield1" />
    <result column="o_stringField2" jdbcType="VARCHAR" property="oStringfield2" />
    <result column="o_dateField1" jdbcType="DATE" property="oDatefield1" />
    <result column="o_dateField2" jdbcType="DATE" property="oDatefield2" />
    <result column="o_datetimeField1" jdbcType="TIMESTAMP" property="oDatetimefield1" />
    <result column="o_datetimeField2" jdbcType="TIMESTAMP" property="oDatetimefield2" />
    <result column="o_boolField1" jdbcType="BIT" property="oBoolfield1" />
    <result column="o_boolField2" jdbcType="BIT" property="oBoolfield2" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    o_id, o_uid, o_rid, o_checkinTime, o_checkoutTime, o_deposit, o_price, o_status, 
    o_created, o_updated, o_intField1, o_intField2, o_stringField1, o_stringField2, o_dateField1, 
    o_dateField2, o_datetimeField1, o_datetimeField2, o_boolField1, o_boolField2
  </sql>
  <select id="selectByExample" parameterType="com.lllllw.hotel.model.OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order
    where o_id = #{oId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order
    where o_id = #{oId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lllllw.hotel.model.OrderExample">
    delete from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lllllw.hotel.model.Order">
    insert into order (o_id, o_uid, o_rid, 
      o_checkinTime, o_checkoutTime, o_deposit, 
      o_price, o_status, o_created, 
      o_updated, o_intField1, o_intField2, 
      o_stringField1, o_stringField2, o_dateField1, 
      o_dateField2, o_datetimeField1, o_datetimeField2, 
      o_boolField1, o_boolField2)
    values (#{oId,jdbcType=INTEGER}, #{oUid,jdbcType=INTEGER}, #{oRid,jdbcType=INTEGER}, 
      #{oCheckintime,jdbcType=DATE}, #{oCheckouttime,jdbcType=DATE}, #{oDeposit,jdbcType=DOUBLE}, 
      #{oPrice,jdbcType=DOUBLE}, #{oStatus,jdbcType=BIT}, #{oCreated,jdbcType=TIMESTAMP}, 
      #{oUpdated,jdbcType=TIMESTAMP}, #{oIntfield1,jdbcType=VARCHAR}, #{oIntfield2,jdbcType=VARCHAR}, 
      #{oStringfield1,jdbcType=VARCHAR}, #{oStringfield2,jdbcType=VARCHAR}, #{oDatefield1,jdbcType=DATE}, 
      #{oDatefield2,jdbcType=DATE}, #{oDatetimefield1,jdbcType=TIMESTAMP}, #{oDatetimefield2,jdbcType=TIMESTAMP}, 
      #{oBoolfield1,jdbcType=BIT}, #{oBoolfield2,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.lllllw.hotel.model.Order">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        o_id,
      </if>
      <if test="oUid != null">
        o_uid,
      </if>
      <if test="oRid != null">
        o_rid,
      </if>
      <if test="oCheckintime != null">
        o_checkinTime,
      </if>
      <if test="oCheckouttime != null">
        o_checkoutTime,
      </if>
      <if test="oDeposit != null">
        o_deposit,
      </if>
      <if test="oPrice != null">
        o_price,
      </if>
      <if test="oStatus != null">
        o_status,
      </if>
      <if test="oCreated != null">
        o_created,
      </if>
      <if test="oUpdated != null">
        o_updated,
      </if>
      <if test="oIntfield1 != null">
        o_intField1,
      </if>
      <if test="oIntfield2 != null">
        o_intField2,
      </if>
      <if test="oStringfield1 != null">
        o_stringField1,
      </if>
      <if test="oStringfield2 != null">
        o_stringField2,
      </if>
      <if test="oDatefield1 != null">
        o_dateField1,
      </if>
      <if test="oDatefield2 != null">
        o_dateField2,
      </if>
      <if test="oDatetimefield1 != null">
        o_datetimeField1,
      </if>
      <if test="oDatetimefield2 != null">
        o_datetimeField2,
      </if>
      <if test="oBoolfield1 != null">
        o_boolField1,
      </if>
      <if test="oBoolfield2 != null">
        o_boolField2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        #{oId,jdbcType=INTEGER},
      </if>
      <if test="oUid != null">
        #{oUid,jdbcType=INTEGER},
      </if>
      <if test="oRid != null">
        #{oRid,jdbcType=INTEGER},
      </if>
      <if test="oCheckintime != null">
        #{oCheckintime,jdbcType=DATE},
      </if>
      <if test="oCheckouttime != null">
        #{oCheckouttime,jdbcType=DATE},
      </if>
      <if test="oDeposit != null">
        #{oDeposit,jdbcType=DOUBLE},
      </if>
      <if test="oPrice != null">
        #{oPrice,jdbcType=DOUBLE},
      </if>
      <if test="oStatus != null">
        #{oStatus,jdbcType=BIT},
      </if>
      <if test="oCreated != null">
        #{oCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="oUpdated != null">
        #{oUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="oIntfield1 != null">
        #{oIntfield1,jdbcType=VARCHAR},
      </if>
      <if test="oIntfield2 != null">
        #{oIntfield2,jdbcType=VARCHAR},
      </if>
      <if test="oStringfield1 != null">
        #{oStringfield1,jdbcType=VARCHAR},
      </if>
      <if test="oStringfield2 != null">
        #{oStringfield2,jdbcType=VARCHAR},
      </if>
      <if test="oDatefield1 != null">
        #{oDatefield1,jdbcType=DATE},
      </if>
      <if test="oDatefield2 != null">
        #{oDatefield2,jdbcType=DATE},
      </if>
      <if test="oDatetimefield1 != null">
        #{oDatetimefield1,jdbcType=TIMESTAMP},
      </if>
      <if test="oDatetimefield2 != null">
        #{oDatetimefield2,jdbcType=TIMESTAMP},
      </if>
      <if test="oBoolfield1 != null">
        #{oBoolfield1,jdbcType=BIT},
      </if>
      <if test="oBoolfield2 != null">
        #{oBoolfield2,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lllllw.hotel.model.OrderExample" resultType="java.lang.Long">
    select count(*) from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order
    <set>
      <if test="record.oId != null">
        o_id = #{record.oId,jdbcType=INTEGER},
      </if>
      <if test="record.oUid != null">
        o_uid = #{record.oUid,jdbcType=INTEGER},
      </if>
      <if test="record.oRid != null">
        o_rid = #{record.oRid,jdbcType=INTEGER},
      </if>
      <if test="record.oCheckintime != null">
        o_checkinTime = #{record.oCheckintime,jdbcType=DATE},
      </if>
      <if test="record.oCheckouttime != null">
        o_checkoutTime = #{record.oCheckouttime,jdbcType=DATE},
      </if>
      <if test="record.oDeposit != null">
        o_deposit = #{record.oDeposit,jdbcType=DOUBLE},
      </if>
      <if test="record.oPrice != null">
        o_price = #{record.oPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.oStatus != null">
        o_status = #{record.oStatus,jdbcType=BIT},
      </if>
      <if test="record.oCreated != null">
        o_created = #{record.oCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.oUpdated != null">
        o_updated = #{record.oUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.oIntfield1 != null">
        o_intField1 = #{record.oIntfield1,jdbcType=VARCHAR},
      </if>
      <if test="record.oIntfield2 != null">
        o_intField2 = #{record.oIntfield2,jdbcType=VARCHAR},
      </if>
      <if test="record.oStringfield1 != null">
        o_stringField1 = #{record.oStringfield1,jdbcType=VARCHAR},
      </if>
      <if test="record.oStringfield2 != null">
        o_stringField2 = #{record.oStringfield2,jdbcType=VARCHAR},
      </if>
      <if test="record.oDatefield1 != null">
        o_dateField1 = #{record.oDatefield1,jdbcType=DATE},
      </if>
      <if test="record.oDatefield2 != null">
        o_dateField2 = #{record.oDatefield2,jdbcType=DATE},
      </if>
      <if test="record.oDatetimefield1 != null">
        o_datetimeField1 = #{record.oDatetimefield1,jdbcType=TIMESTAMP},
      </if>
      <if test="record.oDatetimefield2 != null">
        o_datetimeField2 = #{record.oDatetimefield2,jdbcType=TIMESTAMP},
      </if>
      <if test="record.oBoolfield1 != null">
        o_boolField1 = #{record.oBoolfield1,jdbcType=BIT},
      </if>
      <if test="record.oBoolfield2 != null">
        o_boolField2 = #{record.oBoolfield2,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order
    set o_id = #{record.oId,jdbcType=INTEGER},
      o_uid = #{record.oUid,jdbcType=INTEGER},
      o_rid = #{record.oRid,jdbcType=INTEGER},
      o_checkinTime = #{record.oCheckintime,jdbcType=DATE},
      o_checkoutTime = #{record.oCheckouttime,jdbcType=DATE},
      o_deposit = #{record.oDeposit,jdbcType=DOUBLE},
      o_price = #{record.oPrice,jdbcType=DOUBLE},
      o_status = #{record.oStatus,jdbcType=BIT},
      o_created = #{record.oCreated,jdbcType=TIMESTAMP},
      o_updated = #{record.oUpdated,jdbcType=TIMESTAMP},
      o_intField1 = #{record.oIntfield1,jdbcType=VARCHAR},
      o_intField2 = #{record.oIntfield2,jdbcType=VARCHAR},
      o_stringField1 = #{record.oStringfield1,jdbcType=VARCHAR},
      o_stringField2 = #{record.oStringfield2,jdbcType=VARCHAR},
      o_dateField1 = #{record.oDatefield1,jdbcType=DATE},
      o_dateField2 = #{record.oDatefield2,jdbcType=DATE},
      o_datetimeField1 = #{record.oDatetimefield1,jdbcType=TIMESTAMP},
      o_datetimeField2 = #{record.oDatetimefield2,jdbcType=TIMESTAMP},
      o_boolField1 = #{record.oBoolfield1,jdbcType=BIT},
      o_boolField2 = #{record.oBoolfield2,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lllllw.hotel.model.Order">
    update order
    <set>
      <if test="oUid != null">
        o_uid = #{oUid,jdbcType=INTEGER},
      </if>
      <if test="oRid != null">
        o_rid = #{oRid,jdbcType=INTEGER},
      </if>
      <if test="oCheckintime != null">
        o_checkinTime = #{oCheckintime,jdbcType=DATE},
      </if>
      <if test="oCheckouttime != null">
        o_checkoutTime = #{oCheckouttime,jdbcType=DATE},
      </if>
      <if test="oDeposit != null">
        o_deposit = #{oDeposit,jdbcType=DOUBLE},
      </if>
      <if test="oPrice != null">
        o_price = #{oPrice,jdbcType=DOUBLE},
      </if>
      <if test="oStatus != null">
        o_status = #{oStatus,jdbcType=BIT},
      </if>
      <if test="oCreated != null">
        o_created = #{oCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="oUpdated != null">
        o_updated = #{oUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="oIntfield1 != null">
        o_intField1 = #{oIntfield1,jdbcType=VARCHAR},
      </if>
      <if test="oIntfield2 != null">
        o_intField2 = #{oIntfield2,jdbcType=VARCHAR},
      </if>
      <if test="oStringfield1 != null">
        o_stringField1 = #{oStringfield1,jdbcType=VARCHAR},
      </if>
      <if test="oStringfield2 != null">
        o_stringField2 = #{oStringfield2,jdbcType=VARCHAR},
      </if>
      <if test="oDatefield1 != null">
        o_dateField1 = #{oDatefield1,jdbcType=DATE},
      </if>
      <if test="oDatefield2 != null">
        o_dateField2 = #{oDatefield2,jdbcType=DATE},
      </if>
      <if test="oDatetimefield1 != null">
        o_datetimeField1 = #{oDatetimefield1,jdbcType=TIMESTAMP},
      </if>
      <if test="oDatetimefield2 != null">
        o_datetimeField2 = #{oDatetimefield2,jdbcType=TIMESTAMP},
      </if>
      <if test="oBoolfield1 != null">
        o_boolField1 = #{oBoolfield1,jdbcType=BIT},
      </if>
      <if test="oBoolfield2 != null">
        o_boolField2 = #{oBoolfield2,jdbcType=BIT},
      </if>
    </set>
    where o_id = #{oId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lllllw.hotel.model.Order">
    update order
    set o_uid = #{oUid,jdbcType=INTEGER},
      o_rid = #{oRid,jdbcType=INTEGER},
      o_checkinTime = #{oCheckintime,jdbcType=DATE},
      o_checkoutTime = #{oCheckouttime,jdbcType=DATE},
      o_deposit = #{oDeposit,jdbcType=DOUBLE},
      o_price = #{oPrice,jdbcType=DOUBLE},
      o_status = #{oStatus,jdbcType=BIT},
      o_created = #{oCreated,jdbcType=TIMESTAMP},
      o_updated = #{oUpdated,jdbcType=TIMESTAMP},
      o_intField1 = #{oIntfield1,jdbcType=VARCHAR},
      o_intField2 = #{oIntfield2,jdbcType=VARCHAR},
      o_stringField1 = #{oStringfield1,jdbcType=VARCHAR},
      o_stringField2 = #{oStringfield2,jdbcType=VARCHAR},
      o_dateField1 = #{oDatefield1,jdbcType=DATE},
      o_dateField2 = #{oDatefield2,jdbcType=DATE},
      o_datetimeField1 = #{oDatetimefield1,jdbcType=TIMESTAMP},
      o_datetimeField2 = #{oDatetimefield2,jdbcType=TIMESTAMP},
      o_boolField1 = #{oBoolfield1,jdbcType=BIT},
      o_boolField2 = #{oBoolfield2,jdbcType=BIT}
    where o_id = #{oId,jdbcType=INTEGER}
  </update>
</mapper>